# LINEAR  REGRESSION: Tesla Stock Price Prediction

In [25]:
#Linear regression is the relationship between dependent and independent variable(feature/predictive variable)
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
tesla_file_path= (r'C:\Users\ansht\Downloads\TSLA.csv')
tesla_df= pd.read_csv(tesla_file_path)

In [26]:
tesla_df.head(5)
#displaying the first 5 columns

        Open   High        Low      Close  Adj Close    Volume
0  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  25.000000  25.92  20.270000  21.959999  21.959999   8218800
3  23.000000  23.10  18.709999  19.200001  19.200001   5139800
4  20.000000  20.00  15.830000  16.110001  16.110001   6866900

In [27]:
tesla_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2416 entries, 0 to 2415
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2416 non-null   float64
 1   High       2416 non-null   float64
 2   Low        2416 non-null   float64
 3   Close      2416 non-null   float64
 4   Adj Close  2416 non-null   float64
 5   Volume     2416 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 113.4 KB

In [28]:
tesla_df.describe()
#to get statistical information regarding the dataset

,Open,High,Low,Close,Adj Close,Volume
count,2416.000000,2416.000000,2416.000000,2416.000000,2416.000000,2.416000e+03
mean,186.271147,189.578224,182.916639,186.403651,186.403651,5.572722e+06
std,118.740163,120.892329,116.857591,119.136020,119.136020,4.987809e+06
min,16.139999,16.629999,14.980000,15.800000,15.800000,1.185000e+05
25%,34.342498,34.897501,33.587501,34.400002,34.400002,1.899275e+06
50%,213.035003,216.745002,208.870002,212.960007,212.960007,4.578400e+06
75%,266.450012,270.927513,262.102501,266.774994,266.774994,7.361150e+06
max,673.690002,786.140015,673.520020,780.000000,780.000000,4.706500e+07

# LIST

In [29]:
list(tesla_df.columns)
#Creating a list of the columns being used

['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

In [30]:
#to check if any null values are there or not in the dataset
tesla_df.isnull()
#gives false means no null values in the dataset and so their sum is also 0

       Open   High    Low  Close  Adj Close  Volume
0     False  False  False  False      False   False
1     False  False  False  False      False   False
2     False  False  False  False      False   False
3     False  False  False  False      False   False
4     False  False  False  False      False   False
...     ...    ...    ...    ...        ...     ...
2411  False  False  False  False      False   False
2412  False  False  False  False      False   False
2413  False  False  False  False      False   False
2414  False  False  False  False      False   False
2415  False  False  False  False      False   False

[2416 rows x 6 columns]

In [31]:
#to calculate the sum of null values. As sum is 0 it will return all the values as 0
tesla_df.isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [32]:
#to display the null values dropna() method is used
tesla_df.dropna(axis=0,how='any', thresh=None, subset=None,inplace=False)
#as no null values are obtained so will display all

            Open        High         Low       Close   Adj Close    Volume
0      19.000000   25.000000   17.540001   23.889999   23.889999  18766300
1      25.790001   30.420000   23.299999   23.830000   23.830000  17187100
2      25.000000   25.920000   20.270000   21.959999   21.959999   8218800
3      23.000000   23.100000   18.709999   19.200001   19.200001   5139800
4      20.000000   20.000000   15.830000   16.110001   16.110001   6866900
...          ...         ...         ...         ...         ...       ...
2411  568.489990  576.809998  558.080017  566.900024  566.900024  11788500
2412  575.690002  589.799988  567.429993  580.989990  580.989990  17801500
2413  632.419983  650.880005  618.000000  640.809998  640.809998  29005700
2414  640.000000  653.000000  632.520020  650.570007  650.570007  15719300
2415  673.690002  786.140015  673.520020  780.000000  780.000000  47065000

[2416 rows x 6 columns]

In [33]:
#as the features like Adj Close and Close are same dropping them would be a great idea and Date is also not useful Categorial Data

In [34]:
tesla_df

            Open        High         Low       Close   Adj Close    Volume
0      19.000000   25.000000   17.540001   23.889999   23.889999  18766300
1      25.790001   30.420000   23.299999   23.830000   23.830000  17187100
2      25.000000   25.920000   20.270000   21.959999   21.959999   8218800
3      23.000000   23.100000   18.709999   19.200001   19.200001   5139800
4      20.000000   20.000000   15.830000   16.110001   16.110001   6866900
...          ...         ...         ...         ...         ...       ...
2411  568.489990  576.809998  558.080017  566.900024  566.900024  11788500
2412  575.690002  589.799988  567.429993  580.989990  580.989990  17801500
2413  632.419983  650.880005  618.000000  640.809998  640.809998  29005700
2414  640.000000  653.000000  632.520020  650.570007  650.570007  15719300
2415  673.690002  786.140015  673.520020  780.000000  780.000000  47065000

[2416 rows x 6 columns]

In [35]:
from sklearn.linear_model import LinearRegression
#importing it from a library called sklearn
teslamodel= LinearRegression()

# FEATURE SELECTION

In [36]:
#Step 2 Selecting a prediction target and Separating target and Features
tesla_features=['Open','High','Volume','Low']
X=tesla_df[tesla_features]

In [37]:
#Creating an x array as we'll use it for the prediction of y
x=tesla_df[['Open','High','Volume','Low']]

In [38]:
#Creating an array y for the value of which we want to predict
y=tesla_df['Close']

# SPLITING DATA

In [39]:
#from sklearn import the libraries
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
#training data into 70% and testing as 30%

# BUILDING MODEL

In [40]:
from sklearn.linear_model import LinearRegression
#creating a linear regressor model
model=LinearRegression()

# FITTING THE MODEL

In [41]:
#as a overfit model doesn't perform well on the training data and rather on the validation part
tesla_df=model.fit(x_train,y_train)

In [42]:
print(model.coef_)
#printing model's coefficients and intercepts

[-6.54951420e-01  8.79941102e-01 -1.60310354e-09  7.74349592e-01]

In [43]:
print(model.intercept_)

-0.04670097137591256

# PREDICTING THE MODEL

In [44]:
#predict only takes parameter x and gives automatically the values of y. Compare y with the predictions parameter to get the accuracy
prediction=model.predict(x_test)

In [45]:
comparison = pd.DataFrame({'Predicted Values':prediction,'Actual Values':y_test})

In [46]:
print (comparison.head(10))

      Predicted Values  Actual Values
1046        262.796655     262.549988
1432        205.825250     202.600006
875         149.544117     147.979996
657          39.360816      39.480000
1183        191.087189     191.070007
553          28.647961      28.549999
1281        267.001214     266.149994
1075        260.826416     260.619995
924         247.940132     250.559998
691          37.793295      37.889999

# ACCURACY OF MODEL: MEAN ABSOLUTE ERROR

# CROSS VALIDATION

In [47]:
#mean absolute error is actually actual value-predicted value divided by n number of observations
from sklearn import metrics 
metrics.mean_absolute_error(y_test, prediction)

1.4156896275770794

# ROOT MEAN SQAURE VALUE(RMSE)

In [ ]:
#Note:RMSE will always be greater or equal to the MAE value. MSE(RMSE=sqrt(Mean Square Error))
#No inbuilt method to find the RMSE in sciikit model
metrics.mean_squared_error(y_test, prediction)

In [ ]:
#Calculating RMSE
np.sqrt(metrics.mean_squared_error(y_test, prediction))

# DATA VISUALIZATION

# SCATTER PLOT

In [ ]:
#Scatterplot shows relation between two continous variables so x and y
plt.scatter(y_test,prediction,color='red')
#A perfectly straight diagonal line in this scatterplot would indicate that our model perfectly predicted the y-array values.

In [ ]:
sns.set_style("dark")

# HISTOGRAM

In [ ]:
plt.hist(y_test-prediction)

# BARPLOT

In [ ]:
plt.bar(y_test,prediction)

In [ ]:
sns.regplot(y_test,prediction)